<table border="0" cellpadding="2" cellspacing="0" width="100%">
    {if:table_title}
    <tr>
	<td colspan="{cols}" align="center" class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
	  <tr>
	    <td align="center" class="header"> {table_title:h} </td>
	    <td align="center" class="header"> &nbsp; </td>
	    <td align="center" width="20px" class="header"> {help_link:h} </td>
	  </tr>
	</table>
	</td>
    </tr>
    {end:}
    <tr>
      <td>
	<table border="1" cellpadding="2" cellspacing="0" width="100%">
	  <tr>
	    <td align="left" class="header" foreach="titles,title">
	      {title:h}
	    </td>
	  </tr>	
	  
	  {if:nonefound}
	  <tr class="item">
	    <td align="center" colspan="<?= count($titles) ?>">
	      <b><i><font color="red">No records matched.</font></i></b>
	    </td>
	  </tr>
	  {end:}
	  <tr foreach="row,rowid,cols">

	    {cols:h}

	    {if:rightblock}
	    {if:isFirst()}
	    <td  class="item" valign="top" align="left" rowspan="999">
	      <table>
		<tr foreach="rightblock,r">
		  <td>{r:h}</td>
		</tr>
	      </table>
	    </td>
	    {end:}
	    {end:}

	  </tr>
	</table>
      </td>
    </tr>
    <tr>
      <td align="left" class="item" colspan="<?= count($titles) ?>">
	<b>Total Reservations:</b>
	<b>OW:</b> {res1:h} ({res1detail:h})
	&nbsp;	&nbsp;
	<b>RT:</b> {res2:h} ({res2detail:h})
	
	&nbsp;	&nbsp;	&nbsp;

	<b>No-Name Walkups:</b>
	<b>OW:</b> {wup1:h} ({wup1detail:h})
	&nbsp;	&nbsp;
	<b>RT:</b> {wup2:h} ({wup2detail:h})
      </td>
    </tr>
</table>

