<table width="100%">
  <tr>
    <td width="200" class="label">Id:</td>
    <td width="100" class="value">{id:h}</td>
    <td width="100" class="value"></td>
    <td width="100" class="value"></td>
    <td width="100" class="value"></td>
  </tr>
  <tr>
    <td class="label">Reporting Station:</td>
    <td class="value">{tStation_id:h}</td>
  </tr>
  <tr>
    <td class="label">Date:</td>
    <td class="value">{date:h}</td>
  </tr>
  <tr>
    <td class="label">Weather:</td>
    <td class="value">{weather:h}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label">Currency:</td>
    <td class="value">{currency:h}</td>
  </tr>
  <tr>
    <td class="label">Coins:</td>
    <td class="value">{coins:h}</td>
  </tr>
  <tr>
    <td class="label">Credit Cards:</td>
    <td class="value">{ccards:h}</td>
  </tr>
  <tr>
    <td class="label">Traveller Checks:</td>
    <td class="value">{travChecks:h}</td>
  </tr>
  <tr>
    <td class="label">Personal Checks:</td>
    <td class="value">{persChecks:h}</td>
  </tr>
  <tr>
    <td class="label">Total Currency:</td>
    <td class="value2">{totalCurrency:h}</td>
  </tr>
  <tr>
    <td class="label">Total Passengers Paid:</td>
    <td class="value2">{totalPassengersPaid:h}</td>
  </tr>

  </tr>	<td>&nbsp;</td>  <tr>

  <tr>	
	<td>&nbsp;</td>
	<td class="label">Revenue</td>
	<td class="label">Tax</td>
	<td class="label">Receipts</td>
  </tr>

  <tr>
    <td class="label">Tickets:</td>
    <td class="value">{ticketRevenue:h}</td>
    <td class="value">{ticketTax:h}</td>
    <td class="value">{ticketReceipts:h}</td>
  </tr>
  <tr>
    <td class="label">Lunches:</td>
    <td class="value">{lunchRevenue:h}</td>
    <td class="value">{lunchTax:h}</td>
    <td class="value">{lunchReceipts:h}</td>
  </tr>
  <tr>	
	<td class="label">Total:</td>
	<td class="value2">{totalRevenue:h}</td>
`	<td class="value2">{tax:h}</td>
	<td class="value2">{totalReceipts:h}</td>
  </tr>

  </tr>	<td>&nbsp;</td>  <tr>

  <tr>
    <td class="label">Less Deposits:</td>
    <td class="value">({lessDeposits:h})</td>
  </tr>
  <tr>
    <td class="label">Accts Receivable:</td>
    <td class="value">{acctsReceivable:h}</td>
  </tr>
  <tr>
    <td class="label">Overpayments:</td>
    <td class="value">{overpayments:h}</td>
  </tr>
  <tr>
    <td class="label">Cash Over (+) or Short (-):</td>
    <td class="value">{longOrShort:h}</td>
  </tr>
  <tr>
    <td class="label">Amount to Deposit:</td>
    <td class="value2"><span class="valuebox">{amtToDeposit:h}</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td valign="top" class="label">Comments:</td>
    <td valign="top" colspan="3">{comments:h}</td>
  </tr>
</table>