<table>
 <tr>
<!--     <td rowspan="2" class="itemheader"><b>One Way</b></td> -->
     <td class='itemheader'>Adult OW</td>
     <td class='item'>{a1Rate:h}</td>
     <td>&nbsp;</td>
<!--         <td rowspan="2" class='itemheader'><b>Round Trip<b></td> -->
     <td class='itemheader'>Adult RT</td>
     <td class='item'>{a2Rate:h}</td>
 </tr>
 <tr>
     <td class='itemheader'>Child OW</td>
     <td class='item'>{c1Rate:h}</td>
     <td>&nbsp;</td>
     <td class='itemheader'>Child RT</td>
     <td class='item'>{c2Rate:h}</td>
 </tr>
</table>
