<table>
 <tr>
     <td></td>
     <td class='smallheader'>Rack</td>
     <td class='smallheader'>Group</td>
     <td class='smallheader'>Special</td>
 </tr>
 <tr>
     <td class='smallheader'>Round Trip Adult</td>
     <td class='item'>{rackA2Rate}</td>
     <td class='item'>{groupA2Rate}</td>
     <td class='item'>{specialA2Rate}</td>
 </tr>
 <tr>
     <td class='smallheader'>Round Trip Child</td>
     <td class='item'>{rackC2Rate}</td>
     <td class='item'>{groupC2Rate}</td>
     <td class='item'>{specialC2Rate}</td>
 </tr>
 <tr>
     <td class='smallheader'>One Way Adult</td>
     <td class='item'>{rackA1Rate}</td>
     <td class='item'>{groupA1Rate}</td>
     <td class='item'>{speciallA1Rate}</td>
 </tr>
 <tr>
     <td class='smallheader'>One Way Child</td>
     <td class='item'>{rackC1Rate}</td>
     <td class='item'>{groupC1Rate}</td>
     <td class='item'>{specialC1Rate}</td>
 </tr>
</table>