<table>
 <tr>
     <td></td>
     <td class='itemheader'>Rack</td>
     <td class='itemheader'>Group</td>
     <td class='itemheader'>Special</td>
 </tr>
 <tr>
     <td class='itemheader'>Round Trip Adult</td>
     <td class='item'>{kA2Rate:h} &nbsp;</td>
     <td class='item'>{gA2Rate:h} &nbsp;</td>
     <td class='item'>{sA2Rate:h} &nbsp;</td>
 </tr>
 <tr>
     <td class='itemheader'>Round Trip Child</td>
     <td class='item'>{kC2Rate:h} &nbsp;</td>
     <td class='item'>{gC2Rate:h} &nbsp;</td>
     <td class='item'>{sC2Rate:h} &nbsp;</td>
 </tr>
 <tr>
     <td class='itemheader'>One Way Adult</td>
     <td class='item'>{kA1Rate:h} &nbsp;</td>
     <td class='item'>{gA1Rate:h} &nbsp;</td>
     <td class='item'>{sA1Rate:h} &nbsp;</td>
 </tr>
 <tr>
     <td class='itemheader'>One Way Child</td>
     <td class='item'>{kC1Rate:h} &nbsp;</td>
     <td class='item'>{gC1Rate:h} &nbsp;</td>
     <td class='item'>{sC1Rate:h} &nbsp;</td>
 </tr>
</table>