<table cellspacing="0" cellpadding="0">
  <tr><td class="label">Id:</td><td align="left">{resId:h}</td>
      <td class="label">Status:</td><td align="left">{status:h}</td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td class="label">Out Train:</td>
      <td align="left" colspan="3">{tTrain_id_1:h}</td></tr>
  <tr><td class="label">Ret Train:</td>
      <td align="left" colspan="3">{tTrain_id_2:h}</td></tr>
</table>

<table width="95%" cellspacing="0">
  <tr><td class="label">Adults:</td>       
      <td class="value">{adults:h}</td></tr>
  <tr><td class="label">Children:</td>	    
      <td class="value">{children:h}</td></tr>
  <tr><td class="label">Laps:</td>          
      <td class="value">{laps:h}</td></tr>
  <tr><td class="label">Specials:</td>      
      <td class="value">{specials:h}</td></tr>
  <tr><td class="label">Escorts:</td>       
      <td class="value">{escorts:h}</td></tr>
  <tr><td class="label">Box Lunches:</td>
      <td class="value">{boxLunches:h}</td>
      <td valign="bottom" rowspan="2" align="right">
	<b>Date Received<br>{dateReceived:h}</b>
	</td></tr>
  <tr><td class="label">Deposit:</td>       
      <td class="value">${deposit:h}</td><tr>
  <tr><td class="label">Total:</td>       
      <td class="value">{total:h}<img src="../graphics/updown-spacer.png">
      </td><tr>
  <tr><td class="label">Amount Due:</td>
      <td class="value"><b>{amountDue:h}</b><img src="../graphics/updown-spacer.png">
      </td></tr>
</table>

<p>
<b>Comments:</b><br> {resComment:h}
